*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(177, 177, 250);
}

.card {
    width: 400px;
}

.card_content {
    text-align: center;
    position: relative;
    background-color: rgb(32, 32, 32, 0.3);
    background-image: url(https://images.unsplash.com/photo-1630857453903-0386bfb0d990?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMjExMzgxMg&ixlib=rb-1.2.1&q=85);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    transition: transform 1s ease-out;
    padding: 100px;
    transform-style: preserve-3d;
    color: #101;
}

.card:hover .card_content {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15%;
    backface-visibility: hidden;
}

.card_title {
    font-size: 3em;
    transform: translateZ(200px);
    transition: .3s ease;
    margin: 10px auto;
}

.card_title::before {
    content: '';
    width: 100%;
    height: 5px;
    background: #101;
    display: block;
}

.card_title::after {
    content: '';
    width: 100%;
    height: 5px;
    background: #101;
    display: block;
}

.card_back {
    font-size: 20px;
    transform: rotateY(180deg);
    background: #F50057;
    color: white;
}

.card:hover .card_title {
    visibility: hidden;
}